* {
    font-family: 'Poppins', sans-serif;
}

.nav-bar {
    position: fixed;
    width: 100%;
    height: 8vh;
    background-color: #222;
    color: #eee;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    z-index: 9999;
}

.nav-bar h2 {
    color: #eee;
}

.nav-bar button {
    border: transparent;
    background-color: transparent;
    color: #eee;
    cursor: pointer;
    margin-right: 3vmin;
}

.navigation-button {
    font-size: 18px;
    transition: all 0.4s ease;
}

.navigation-button:hover {
    color:rgb(254, 202, 106);
}

.name-button {
    font-size: 20px;
    font-weight: bolder;
    transition: all 0.4s ease;
}

.name-button:hover {
    color: rgb(254, 202, 106);
}

.navbar-buttons {
    width: 20vmin;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.navbar-buttons button, .footer button {
    border: transparent;
    background-color: transparent;
    color: #eee;
    cursor: pointer;
    margin-right: 2vmin;
    transition: all 0.4s ease;
}


.button-links {
    display: flex;
}

/*@media (max-width: 900px) {
    .button-links {
      visibility: collapse;
    }
  }*/

/*.button-links {
    display: flex;
    flex-direction: row;
    margin-left: 1vmin;
}*/

.github-button:hover {
    color: #bf7fe4;
}

.linkedin-button:hover {
    color: #69d6fe;
}

.email-button:hover {
    color: #4acc66;
}

.resume-button:hover {
    color: rgb(246, 110, 110);
}

.resume-button-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.richmond-image-container {
    width: 100%;
    height: 90vh;
    position: relative;
}

.richmond-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(45%);
}

.intro-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
    z-index: 1;
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    /* maybe remove stuff below*/
    display: flex;
    flex-direction: column;
    align-items: center;
    text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.99);
  }

  .headshot-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 4px solid white;
    overflow: hidden;
    box-shadow: 0 0 30px rgba(0, 0, 0, 1);
  }

  .headshot {
    width: 100%;
    height: auto;
    object-fit: cover; /* Maintain aspect ratio and fill the circular container */
  }

  .intro-container {
    margin-bottom: 0px;
  }

  .about-container, .projects-container {
    margin-top: 0px;
    background: #282c34;
    height: 100vh;
    color: #eee;
  }

  .skills-container, .timeline-container {
    margin-top: 0px;
    background: #ddd;
    height: 100vh;
    color: #282c34;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer {
    height: 8vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 0px;
    background: #222;
    color: #eee;
    margin-bottom: 0px;
  }

  .skills-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 5vmin;
    width: 60%;
  }

  .skill-item {
    /*border: 1px solid #555;*/
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
    height: 25vh;
  }

  .projects-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .projects-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 3vmin;
    width: 60%;
  }

  .project-item {
    /*border: 1px solid #222;*/
    box-shadow: inset 0 0 10px rgba(247, 245, 245, 0.15);
    height: 25vh;
    cursor: pointer;
  }

  .timeline-items {
    width: 50%;
  }

  .timeline-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }


